<div ng-include="'partials/navbar'"></div>


<br>
<div class = "span7 text-center">
  <button class = "btn btn-success" ng-click = "getUpdated()">Latest Conversion Rates</button>
  <button class = "btn btn-info" ng-click = "fromDB()">From Local Database </button>
  <br>
  <em>(Last Update: {{updatedAt | date: 'medium'}})</em>
</div>



<div class = "spinner" id = "loading" ng-show = "loading"><img src = "images/loading.gif" alt= "loading..." id="spin"></div>


<br>
<form class = "form-horizontal col-xs-6" role = "form" data-ng-submit = "conversion(currency1,currency2, convertAmount)" ng-show="startConvert">

  <div class = "form-group">
  <label for ="convertAmount">Amount: <input type = "text" ng-model = "convertAmount" class = "form-control" ng-change = "hide()">
  </div>

  <div class = "form-group">
  <label for ="currency1">From: <input type="text" ng-model="currency1" placeholder="From" typeahead="currency as currency.code for currency in currencys | filter:{code:$viewValue}" class="form-control" ng-change = "hide()">
  </div>

  <div class = "form-group">
  <label for = "currency2">To: <input type="text" ng-model="currency2" placeholder="To" typeahead="currency as currency.code for currency in currencys | filter:{code:$viewValue}" class="form-control" ng-change = "hide()">
  </div>

  <div class = "form-group">
  <button type = "submit" class = "btn btn-success" >Convert!</button>
  </div>

  <h4 ng-show = "showConversion">
  {{currency1.symbol}}{{convertAmount}} in {{currency1.code}} is equal to {{currency2.symbol}} {{converted | number:2}} in {{currency2.code}}
  </h4>
</form>




<h1 ng-show= "startConvert">Currencies</h1>
<div ng-show = "startConvert" class = "col-xs-6">

  <button class = "btn btn-success" ng-click="showCurrency = !showCurrency" ng-show= "showCurrency">Show Currency</button>
  <button class = "btn btn-warning" ng-click="showCurrency = !showCurrency" ng-show= "!showCurrency">Hide Currency</button>
  <br>
  <h6 ng-repeat = "currency in currencys |orderBy: currency.code"collapse = "showCurrency">
    <br>
    {{currency.code}}  {{currency.symbol}} {{currency.conversion | number:2}} 
    <hr>
  </h6>
</div>


