<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>Paypal Exchange</h1>
  <p class="lead">
    Using the OpenExchangeRates API
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="/paypal/currencyConversion">Currency Conversion</a></p>
  <p><a class="btn btn-lg btn-success" ng-href="/paypal/conversionRate">Conversion Rates</a></p>
  <p><a class="btn btn-lg btn-success" ng-href="/paypal/activity">Transaction History</a></p>
  <p><strong>By Danny Francken</strong></p>
  <p>View on Github:</p>
  <a href = "https://github.com/DaDanny/NodeConversion"><img src = "images/Github-Mark-32px.png"/></a>
</div>


